


<div>

  <p>What is the cost of the item?<input step="0.01" value="0.00" type="number" ng-model="a" placeholder="Item cost"></p>
  <p>How many are you planning to buy?<input step="0.01" value="0.00" type="number" ng-model="b" placeholder="Number of items"></p>
  <p>What is the value of the coupon?<input step="0.01" value="0.00" type="number" ng-model="c" placeholder="Coupon vlaue"></p>
  <p>How many coupons do you have?<input step="0.01" value="0.00" type="number" ng-model="d" placeholder="Number of coupons"></p>
  <p>How many miles is it to the store?<input type="number" ng-model="e" placeholder="Miles"></p>



    <p>You are going to spend a total of ${{a *b - c * d}} saving you a total of ${{c * d }} and will drive a total of {{e}} miles</p>
<!-- click submit and display result -->
<!--You are going to drive this many miles and save this much. <br>So fi your goign to buy other things this may be worth it.
<br>multiple items
<li>more items with coupons</li>-->
</div>
